<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Правила для MyFtpServer" Description="Правила анализа кода для MyFtpServer.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA2000" Action="Warning" />
    <Rule Id="CA2001" Action="Error" />
    <Rule Id="CA2002" Action="Error" />
    <Rule Id="CA2003" Action="Error" />
    <Rule Id="CA2004" Action="Error" />
    <Rule Id="CA2006" Action="Error" />
  </Rules>
</RuleSet>